{{ form_start(form, {'method': form_method|default('POST')}) }}
    {% if form_method is defined and form_method == 'PUT' %} 
        <input type="hidden" name="_method" value="PUT">
    {% endif %}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}