{{ form_start(form, {'method': method|default('POST')}) }}
    {% if method is defined and method == 'PUT' %}
        <input type="hidden" name="_method" value="PUT">
    {% endif %}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}